* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

h1 {
    color: brown;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100px;
    border: solid 2px blueviolet;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(36, 189, 203);
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: brown;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: brown;
}

ul {
    margin-top: 20px;
    margin-bottom: 20px;
    color: brown;
}

ol {
    margin-top: 20px;
    margin-bottom: 20px;
    color: brown;
}

a {
    padding: 1 rem 2 rem;
    background-color: darkmagenta;
    color: bisque;
    text-decoration: wavy;
}